.info{
    background: linear-gradient(0deg, rgba(113, 48, 240, 0.29) 0%, rgba(220, 31, 255, 0.29) 100%);

}
.res{
    background: linear-gradient(0deg, rgba(113, 48, 240, 0.29) 0%, rgba(220, 31, 255, 0.29) 100%);

}