/* .Data {
      background: linear-gradient(0deg, rgba(113, 48, 240, 0.44) 0%, rgba(37, 27, 54, 0.44) 100%);

} */
.tbody {
    background: linear-gradient(0deg, rgba(113, 48, 240, 0.44) 0%, rgba(37, 27, 54, 0.44) 100%);

}